{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="text-primary mb-4">Affirmations</h2>
        {% for emotion, affirmations in affirmations_by_emotion.items %}
            <div class="card mb-3">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">{{ emotion.name }}</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for affirmation in affirmations %}
                            <li class="list-group-item">{{ affirmation.text }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

